/* Tipografías */
$poppins: 'Poppins', sans-serif;
$black: 900;
$regular: 400;

/* Tamaños */
$h1-xxl: 7rem;
$h1-xl: 5rem;
$h1-l: 4rem;
$h1-m: 3rem;
$h1-s: 2rem;
$p-xl: 1.4rem;
$p-l: 1.2rem;
$p-m: 1rem;

/* H1 */

@mixin h1-xxl {
    font-family: $poppins;
    font-weight: $black;
    font-size: $h1-xxl;
}

@mixin h1-xl {
    font-family: $poppins;
    font-weight: $black;
    font-size: $h1-xl;
}

@mixin h1-l {
    font-family: $poppins;
    font-weight: $black;
    font-size: $h1-l;
}

@mixin h1-m {
    font-family: $poppins;
    font-weight: $black;
    font-size: $h1-m;
}

@mixin h1-s {
    font-family: $poppins;
    font-weight: $black;
    font-size: $h1-s;
}

/* p */

@mixin p-xl {
    font-family: $poppins;
    font-weight: $regular;
    font-size: $p-xl;
}

@mixin p-l {
    font-family: $poppins;
    font-weight: $regular;
    font-size: $p-l;
}

@mixin p-m {
    font-family: $poppins;
    font-weight: $regular;
    font-size: $p-m;
}